<!DOCTYPE html>

<head>
    <title>
        Accelerated Hong Kong
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="https://bootswatch.com/4/superhero/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/mains.css" rel="stylesheet" type='text/css'>
</head>

<body>
    <nav class="navbar sticky-top" id="bar">
        <div class="lefticons">
            <a class="logo" href="/">
                <img src="https://cms.accelerating.tech/favicon.ico">
            </a>

            <span id="menu" onclick="openNav()">&#9776;</span>
        </div>
        <!-- <a class="navbar-brand">Navbar</a> -->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <span style="font-size:30px;cursor:pointer" onclick="openCom()">QA</span>
        </form>
    </nav>
    <div class="container-fluid" id="body">
        <div class="row">
            <div class="grid-row col-lg-12" id="left">
                <!--Making a side navigation Menu  
                https://codepen.io/PorototypeX/pen/swvtc
                -->
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li class="dropdown">
                            <input type="checkbox" />
                            <a href="" data-toggle="dropdown">Day 1</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/user/introduction">Introduction</a>
                                </li>
                                <li>
                                    <a href="/user/terminal">Terminal</a>
                                </li>
                                <li>
                                    <a href="/user/github">Github</a>
                                </li>
                                <li>
                                    <a href="/user/exercism">Exercism</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <input type="checkbox" />
                            <a href="" data-toggle="dropdown">Day 2</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/user/html" HTML</a>
                                </li>
                                <li>
                                    <a href="/user/css">CSS</a>
                                </li>
                                <li>
                                    <a href="/user/js">Javascript</a>
                                </li>
                                <li>
                                    <a href="/user/functions">Function</a>
                                </li>
                                <li>
                                    <a href="/user/loops">Loops</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <input type="checkbox" />
                            <a href="" data-toggle="dropdown">Day 3</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/user/bootstrap">Bootstrap</a>
                                </li>
                                <li>
                                    <a href="/user/grid">Grid</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <input type="checkbox" />
                            <a href="" data-toggle="dropdown">Day 4</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/user/widget">Bootwidget</a>
                                </li>
                                <li>
                                    <a href="/user/website">Website</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <input type="checkbox" />
                            <a href="" data-toggle="dropdown">Day 5</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/user/revision1">Revision</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <br/>
                <!--End of the side Navigation Menu -->

                {{!--
                <div class="grid-row col-lg-3" id="right">
                    <div class="commentfromuser">
                        <input type="text" id="commentsection">
                        <input type="submit" value="submit" id="submit">
                    </div>
                    <div id="storedcomments">
                    </div> --}}
                    <!--    </div>
                <div class="grid-row col-lg-6" id="middle">    -->
                    <div id="content-section">
                        <h1>Content section</h1>
                        {{{body}}}
                    </div>
                    <div id="comments" class="commentnav" id="right">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeCom()">&times;</a>
                        <div class="commentfromuser">
                            <h3>Leave a comment or give a guide</h3>
                            <input type="textarea" id="commentsection" name="description">
                            <input type="submit" value="submit" id="submit">
                        </div>
                        <hr>
                        <div id="storedcomments">
                            {{#each data}}
                            <h2>{{comment}}</h2>
                            <h6>{{email}}</h6>
                            <hr> {{/each}}

                        </div>

                    </div>
                    {{!-- </div> --}}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="/mains.js"></script>
</body>

</html>