<div class="post-content" id="content" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                  <h1 id="welcome-to-accelerate">Welcome to Accelerate</h1>

<p>Welcome, we are excited to have you on board. Before we get started with our coding journey, we would like to provide you with an insight of our teaching philosophy as well as general aspects of the course. We also need to make sure that you have all the required software installed.</p>

<h2 id="the-course">The course</h2>

<p>As we strongly believe in self-learning, this course is structured so that you’ll be able to learn everything independently with the help of our manuscript. However, in order to get the most out of your learning experience you would have to learn with your fellow classmates and help each other out. <br><br>
If you get stuck at any point, first google, then google and google more. If it seems like google, stackoverflow or the world wide web doesn’t have what you’re looking for, you should ask your classmates for help. Only if that fails, should you approach your instructor for guidance. Your instructor should be your last resort. This is not because we are lazy, but rather we believe in teaching ourselves to ask the right questions and learning as independently as possible. <br><br>
More importantly, this will help prepare you for your life as a developer. Soon enough there will be no instructors around for you to seek help from, you will only have access to Google and your colleagues, so we are here to prepare you from Day 1.<br><br>
This course is designed to be tough, interactive and immersive. As we strive to cover a lot of materials within a short timeframe, we will require your constant attention and dedication to keep learning and practising outside of the classroom as well. Should you have serious troubles keeping up, do let us know! Equally if you feel like you are zooming past, we can arrange extra exercises to keep your hustle going.<br><br></p>

<h2 id="topics-taught-in-the-course">Topics taught in the course</h2>

<p>During the coming weeks, we will give be covering the following languages / frameworks / topics:</p>

<ul>
  <li>HTML</li>
  <li>CSS
    <ul>
      <li>Bootstrap</li>
    </ul>
  </li>
  <li>JavaScript
    <ul>
      <li>jQuery</li>
    </ul>
  </li>
  <li>Node.js
    <ul>
      <li>Express.js</li>
      <li>Jasmine</li>
      <li>Handlebars</li>
    </ul>
  </li>
  <li>PostreSQL
    <ul>
      <li>KnexJS</li>
    </ul>
  </li>
  <li>Redis</li>
  <li>Angular</li>
  <li>Ionic</li>
  <li>AJAX</li>
  <li>DevOps</li>
  <li>Git</li>
</ul>

<p>As you can see, we have a quite long list of topics to cover, however this list is still far from covering even the surface of all the technologies available. It is a drop in the ocean of frameworks and languages. <br><br> We have carefully picked these specific topics after conducting a lot of market research on the current demands from employers based in Hong Kong. We expect you to come across many job postings looking for different skills that we may not have covered. Don’t be frightened by that. After completing the bootcamp you should be able to quickly pick up the required skills for any role at any job - because we’ve taught you how to be independent learners! For example we teach Angular, one of the popular competing frameworks is React. Both frameworks are in equal demand and work in similar ways, so if you understand Angular it should be no problem for you to pick up React.</p>

<h2 id="life-as-a-developer">Life as a developer</h2>

<p>Even a senior developer is likely to only master the art of a few languages, there are simply too many out there to understand them all. However as a good developer you will be able to understand new technologies, languages or frameworks in a short time frame and will be able to teach them yourself. Our aim as a coding bootcamp is not to train you to become a perfect developer, but to teach you how to acquire the necessary knowledge as quickly as possible. It might very well be the case that later you won’t work with Node.js, Angular or PostgreSQL (skills we are teaching here) but Python or React instead. However having attended our bootcamp you should be able to quickly learn those different languages. Don’t believe us, hear it from a <a href="https://www.techinasia.com/talk/learn-to-learn-like-a-developer" target="_blank">pro</a>.</p>

<h2 id="google">Google</h2>

<p>As already mentioned in the prep course Google is your best <a href="http://www.giyf.com/" target="_blank">friend</a> but we also hope you make real human friends in this course. There is such a wealth of information out there especially related to coding, that you will find an answer to almost any question. If you haven’t done so in the prep course, read this blog <a href="https://okepi.wordpress.com/2014/08/21/how-to-become-a-programmer-or-the-art-of-googling-well/" target="_blank">post</a> about Googling.
You will most certainly find a lot of resources on <a href="https://stackoverflow.com/" target="_blank">StackOverflow</a>, where you’ll probably end up through Google. We also encourage you to read blog articles about coding since many good developers have a blog where they write about their daily problem solving tasks and the latest technology you need to catch up on. Having a blog helps developers get their name out and build up credibility, so these can be a good source of information.</p>

<p>When you Google it is always better to be as specific as you can. <code class="highlighter-rouge">javascript error callback function</code> doesn’t really help you as much as <code class="highlighter-rouge">javascript setTimeout error "callback" argument must be a function</code>. It makes more sense to type out whole sentences or questions into Google, something that some people always seem a bit surprised of.</p>

<h2 id="other-resources">Other resources</h2>

<p>While we try to create a mix of text, code and videos for our curriculum, we are not the only resource available for coding knowledge. We will generally point out additional resources throughout the curriculum, but let’s name a few good sources besides StackOverflow and Google.</p>

<ul>
  <li><a href="https://www.youtube.com/" target="_blank">YouTube</a> has wealth of coding videos, if you are a visual learner and the videos provided during the course aren’t enough, try looking there.</li>
  <li><a href="https://www.sitepoint.com/" target="_blank">SitePoint</a> has wealth of articles on the topics we will be covering</li>
  <li><a href="https://scotch.io/" target="_blank">Scotch.io</a> like SitePoint, has some great tutorials</li>
  <li><a href="https://tutsplus.com/" target="_blank">tuts+</a> has a range of tutorials</li>
  <li><a href="https://www.codewars.com/" target="_blank">Codewars</a> a great resource for extra coding exercises</li>
</ul>

                </div>