<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <title> Accelerate's CMS hompage</title>


</head>
<body class="bg-dark text-white text-center">

    <nav>
          <ul>
                <% if (user) { %>
                <a href="/auth/logout">Logout</a>
             <% } else { %>
               <a href="/auth/login">Login</a>
                <% } %>
                <a href="/">Homepage</a>
               
          </ul>
    </nav>

    <header>
        <h1 class="">
            
        

     </h1>
      
     <br>

     <h1>Welcome to Accelerate, <%=user.username %> ! </h1>

        <main>
    
                <img src="<%= user.thumbnail %>" />

           </main>

     

    </header>

   
</body>
</html>