<div class="post-content" id="content" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                  <h1 id="revision">Revision</h1>
<p>Revision day is designated for you to revise what you have learned over the 
weeks. And also try to finish whatever you haven’t finished.</p>

<h2 id="quiz">Quiz</h2>
<p>Here is the quiz that you should attempt to finish. You can try to finish it 
with/without referring to the materials.</p>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfuSw2MNVKXkGlWFMzMRvkYBxXeihTAvYtn6ybhAmYBrR5S7g/viewform" target="_blank">Week 1 HTML/CSS/JS/Bootstrap</a></p>

                </div>