.container-fluid{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{
    margin-bottom: 15px;
}
h1,h2{
    padding-top: 20px;
}
body {
    color: #111;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
p {
    color: rgb(17, 17, 17);
}
header {
    width: 100%;
    height: 100px;
    background-color: #ccc;
}
#left {
    float: left;
    width: 20%;
    min-height: 700px;
    background-color: #fff;
}
#right{
    float: right;
    width: 20%;
    min-height: 700px;
    background-color: rgb(173, 157, 65);
}
p{
    color: rgb(17, 17, 17);
    font-size: 16.5px;
}
input{
    margin:0 auto;
    
}
#box {
    width: 350px;
    height: 150px;
    background-color: aquamarine;
}
.logo>img {
    width: 70px;
    float: left;
}
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: skyblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #F1F1F1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#content-section {
    margin-left: 20%;
}
#menu {
    font-size: 50px;
    cursor: pointer;
    color: white;
    float: left;
}
.lefticons {
    float: right;
}
#bar {
    background: #343a40;
}
li {
    list-style-type: none;
    display: block;
}
#comments{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    right:0;
    background-color: skyblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.commentnav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.commentnav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}